//! POUR CHARGEMENT POLICE  :

//import font : Shrikhand
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
//import font : Roboto
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
//@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
//Associations par défaut des polices
@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
//Dancing Script

// Dancing Scriptfont
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&display=swap');


@font-face {
  font-family: "Adlery";
  src: url("https://orendezvoustao.github.io/Menu/src/fonts/Adlery.ttf") format("truetype");
}


//! POUR MODIFICATION :

.logoFont,
.loader__text,
.restaurant__title {
  font-family: 'Dancing Script', cursive, Arial, Helvetica, sans-serif;
  font-weight: bold;

}


h4,
p{
  font-family: "Antic Didone", Arial, Helvetica, sans-serif;
}

// h1 {
//   font-size: 1.9rem;
// }

// h2 {
//   font-size: 1.5rem;
//   font-weight: bold;
// }

h3 {
  font-size: 1.1rem;
  font-weight: bold;
}

p {
  font-size: 1.1rem;
  font-weight: 200;
}


.menuPart__title {
  font-size: 1.2rem;
 
  font-family: 'Antic Didone', Arial, Helvetica, sans-serif;
}

.logoFont {
  font-size: 2.5rem;
  font-weight: normal;
  font-family: "Dancing Script", cursive, Arial, Helvetica, sans-serif;
  //font-family: 'Antic Didone', Arial, Helvetica, sans-serif;
  //font-family: 'Roboto', Arial, Helvetica, sans-serif;
 
}

.loader__text {
  font-size: 1.5rem;
  letter-spacing: -0.15rem;
}

.restaurant__title {
  font-size: 2.3rem;
  text-align: center;
}

.dish__price--amount {
  font-size: 0.92rem;
  font-weight: 500;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.dish__name--title {
  font-size: 1.12rem;
  font-weight: 500;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;

}

.dish__name--side, .dish__name--sideBis {
  font-size: 0.92rem;
  font-weight: 300;
}

.mySite__title {
  font-size: 3.5rem;
  font-weight: 500;
  font-family: "Dancing Script", cursive, Arial, Helvetica, sans-serif;
  // font-family: 'Antic Didone', Arial, Helvetica, sans-serif;
  //font-family: 'Adlery', Arial, Helvetica, sans-serif;
}

.exploreRestaurants__title {
  font-size: 3rem;
  //font-weight: 300;
  font-family: "Dancing Script", cursive, Arial, Helvetica, sans-serif;
  //font-family: 'Antic Didone', Arial, Helvetica, sans-serif;
  // font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.exploreRestaurants__text {
  font-size: 1.3rem;
  font-weight: 200;
  //font-family: "Dancing Script", cursive, Arial, Helvetica, sans-serif;
  font-family: 'Antic Didone', Arial, Helvetica, sans-serif;
  // font-family: 'Roboto', Arial, Helvetica, sans-serif;
}


.cardRestaurant__title{
  font-size: 1.3rem;
  font-weight: 800;
  font-family:  'Roboto', Arial, Helvetica, sans-serif;

}

.question{
  font-size: 1.15rem;
  font-weight: 200;

  font-family: 'Antic Didone', Arial, Helvetica, sans-serif;


}
